.btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  padding: 14px 0;
  width: 260px;
  height: 48px;
  border: 1px solid transparent;
  border-radius: 0px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  color: #ffffff;
  background-color: #ff6b09;
  margin: 0 auto;
}

.btn__form {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .btn__form {
    margin-bottom: 138.5px;
  }
}

@media screen and (min-width: 1280px) {
  .btn {
    font-size: 14px;
    width: 354px;
    height: 70px;
    letter-spacing: 0.14em;
  }

  .btn__form {
    margin-bottom: 138.5px;
  }
}
