:root {
  --main--color: #000;
  --secondary--color: #111518;
  --guarantee--section: #f1f1f1;
  --guarantee--text-color: #3d3d3d;
  --orange--color: #ff6b09;
  --guarantee--border: #b9b9b9;
  --how-we-do-hover-color: #fff;

  --main-font: 'Montserrat', sans-serif;
}
body {
  color: var(--main--color);
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
p {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  display: block;
}
