<footer class="footer">
  <div class="background-image">
    <div class="registration">
      <h1 class="footer__title">
        Registration for a
        <span class="footer__title footer__title--orange-text">free</span> phone
        <span class="footer__title footer__title--orange-text">consultation</span>
        on the nuances of English UPE
      </h1>

      <h2 class="footer__text">
        Leave a request for participation in a
        <span class="footer__title--orange-text">free lesson</span>. <br />
        A consultant will contact you and answer your questions
      </h2>

      <form class="registration__form">
        <div class="registration__wrapper registration__wrapper--name">
          <label for="registration__name" class="registration__label registration__label--name">
            Name*
          </label>
          <input type="text" class="registration__name" />
        </div>

        <div class="registration__wrapper registration__wrapper--phone">
          <label for="phone" class="registration__label"> Phone*</label>
          <input type="tel" class="registration__phone" />
        </div>

        <button type="submit" class="footer__button">
          <span class="button__text">i want a free lesson</span>
        </button>
      </form>
    </div>
  </div>

  <div class="social">
    <div class="container">
      <ul class="social__list">
        <li class="social__items">
          <svg class="logo">
            <use href="./images/symbols-footer.svg#icon-logo"></use>
          </svg>
        </li>
        <li class="social__items right-center">
          <svg class="handset">
            <use href="./images/symbols-footer.svg#icon-phone"></use>
          </svg>
          <span class="phone-number">+38 (000) 000 00 00</span>
        </li>
        <li class="social__items">
          <img src="./images/footer/instagram.png" alt="instagram" class="instagram" />
        </li>
      </ul>
    </div>
  </div>

  <div class="reserved">
    <div class="reserved__text">@ All rights reserved, 2019</div>
  </div>
</footer>
