<!--HERO-->
<section class="hero section">
    <div class="container">
        <div class="hero__text">
            <h1 class="hero__title">Complex preparation for English UPE</h1>
            <p class="hero__undertitle">It won’t be easy.</p>
            <p class="hero__description">But you are guaranteed to get <span>+25 points</span></p>
            <button class="btn btn__form" type="button">i want a free lesson
            </button>
        </div>
        <div class="hero__image">
            <picture>
                <source class="hero__photo" srcset="../images/hero/lesson-mobile.png, ../images/hero/lesson-mobile@2x.png 2x"
                    media="(min-width: 100px) and (max-width: 767px)">
                <source class="hero__photo" srcset="./images/hero/lesson-tablet.png, ./images/hero/lesson-tablet@2x.png 2x"
                    media="(min-width: 768px) and (max-width: 1199px)">
                <source class="hero__photo" srcset="./images/hero/lesson-desktop.png, ./images/hero/lesson-desktop@2x.png 2x"
                    media="(min-width: 1280px)">
            
                <img class="hero__photo" src="../images/hero/lesson-desktop.png" alt="english lesson">
            </picture>

        </div>
        <div class="hero__list">

        </div>
    </div>
</section>