<section class="hero section">
    <div class="container">
        <div class="hero__text">
            <h1 class="hero__title">Complex preparation for English UPE</h1>
            <p class="hero__undertitle">It won’t be easy.</p>
            <p class="hero__description">But you are guaranteed to get <span>+25 points</span></p>
            <button class="btn btn__form" type="button">i want a free lesson
            </button>

        </div>

        <div class="hero__image">
            <picture>
                <source srcset="../src/images/hero/lessons-desktop.png 1x, ../src/images/hero/lessons-desktop@2x.png 2x"
                    media="(min-width: 1280px)">
                <source srcset="../src/images/hero/lessons-tablet.png 1x, ../src/images/hero/lessons-tablet@2x.png 2x"
                    media="(min-width: 768px)">
                <img class="hero-photo" src="../src/images/hero/lessons-mobile.png"
                    srcset="../src/images/hero/lessons-mobile.png 1x, ../src/images/hero/lessons-mobile@2x.png 2x" alt="english lessons in group">
            </picture>
        </div>

        <div class="hero__list-container">
            <ul class="hero__list">
                <li class="list__item">
                    <!--<svg class="hero__icon">
                        <use href="./images/hero/hero_icons.svg#icon-student"></use>
                    </svg>--> Adapted author's UPE program
                </li>

                <li class="list__item">
                    <!--<svg class="hero__icon">
                        <use href="./images/hero/hero_icons.svg#icon-learning"></use>
                    </svg>--> Modern teaching methods
                </li>

                <li class="list__item">
                    <!--<svg class="hero__icon">
                        <use href="./images/hero/hero_icons.svg#icon-dolar"></use>
                    </svg>--> Financial guarantee the result
                </li>
            </ul>

        </div>
    </div>
</section>