<section class="how-we-do">
  <div class="container">
    <h2 class="how-we-do__header">How do we do it</h2>
    <ul class="how-we-do__list">
      <li class="how-we-do__item">
        <svg class="how-we-do__icon1">
          <use href="./images/how-we-do/symbol-defs.svg#icon-study-program"></use>
        </svg>

        <h3 class="how-we-do__title how-we-do__title--title1">
          Adapted program preparation for UPE
        </h3>
        <p class="how-we-do__description how-we-do__description--description1">
          You will learn grammar and vocabulary at the same time. And you will learn how to write
          essays.
        </p>
      </li>
      <li class="how-we-do__item">
        <svg class="how-we-do__icon2">
          <use href="./images/how-we-do/symbol-defs.svg#icon-mobile-learning"></use>
        </svg>

        <h3 class="how-we-do__title how-we-do__title--title2">Classroom and online learning</h3>
        <p class="how-we-do__description how-we-do__description--description2">
          The teacher will help not only in the classroom, but also during home preparation.<br />Parents
          can chat if they wish.
        </p>
      </li>
      <li class="how-we-do__item">
        <svg class="how-we-do__icon3">
          <use href="./images/how-we-do/symbol-defs.svg#icon-open-book"></use>
        </svg>

        <h3 class="how-we-do__title how-we-do__title--title3">The habit of reading in English</h3>
        <p class="how-we-do__description how-we-do__description--description3">
          Articles from sources that are used in the development of this UPE will be received by
          phone twice a week.
        </p>
      </li>
      <li class="how-we-do__item">
        <svg class="how-we-do__icon4">
          <use href="./images/how-we-do/symbol-defs.svg#icon-psychological-support"></use>
        </svg>

        <h3 class="how-we-do__title how-we-do__title--title4">Psychological support</h3>
        <p class="how-we-do__description how-we-do__description--description4">
          We will teach you testing techniques, the ability to plan your confidence training <br />
          in itself.
        </p>
      </li>
      <li class="how-we-do__item">
        <svg class="how-we-do__icon5">
          <use href="./images/how-we-do/symbol-defs.svg#icon-female-student"></use>
        </svg>

        <h3 class="how-we-do__title how-we-do__title--title5">Training on copyright manuals</h3>
        <p class="how-we-do__description how-we-do__description--description5">
          You don't have to waste your time on a search for material and to buy anything extra. We
          have <br class="how-we-do__desktop-break" />
          compiled <br class="how-we-do__desktop-break" />2 manuals for you.
        </p>
      </li>
      <li class="how-we-do__item how-we-do__item--item6">
        <svg class="how-we-do__icon6">
          <use href="./images/how-we-do/symbol-defs.svg#icon-audio-book"></use>
        </svg>

        <h3 class="how-we-do__title how-we-do__title--title6">
          Ability to comprehend spoken English
        </h3>
        <p class="how-we-do__description how-we-do__description--description6">
          “F.R.I.E.N.D.S” won't help you. You will listen regularly<br />
          and analyze audio recordings<br />
          in accordance with the studied vocabulary.
        </p>
      </li>
    </ul>
  </div>
</section>
