<section class="program">
  <div class="" container>
    <div class="program__wrapper1"></div>
    <h2 class="program__title">Our program</h2>
    <div class="program__list program__list--border-desktop"></div>
    <div class="program__wrapper">
      <div class="program__list program__list--border"></div>
      <ul class="program__list">
        <li class="program__item">
          <div class="program__dot"></div>
          <p class="program__list program__list--semester">1 SEMESTER</p>
          <ul class="program__sections">
            <li>
              <div class="program__sections-wrapper">
                <p class="program__block">— Grammar</p>
                <ul class="program__modules">
                  <li class="program__description">Nouns & Articles</li>
                  <li class="program__description">Adjectives & Adverb</li>
                </ul>
              </div>
            </li>
            <li>
              <div class="program__sections-wrapper">
                <p class="program__block">— Vocalbury</p>
                <ul class="program__modules">
                  <li class="program__description">Family & Relations</li>
                  <li class="program__description">People & Society</li>
                </ul>
              </div>
            </li>
          </ul>
        </li>

        <li class="program__item">
          <div class="program__dot"></div>
          <p class="program__list program__list--semester">2 SEMESTER</p>
          <ul class="program__sections">
            <li>
              <div class="program__sections-wrapper">
                <p class="program__block">— Grammar</p>
                <ul class="program__modules">
                  <li class="program__description">Pronouns</li>
                  <li class="program__description">Active Voice</li>
                  <li class="program__description">Passive Voice</li>
                </ul>
              </div>
            </li>
            <li>
              <div class="program__sections-wrapper">
                <p class="program__block">— Vocalbury</p>
                <ul class="program__modules">
                  <li class="program__description">Home</li>
                  <li class="program__description">School</li>
                  <li class="program__description">Work</li>
                </ul>
              </div>
            </li>
          </ul>
        </li>

        <li class="program__item">
          <div class="program__dot"></div>
          <p class="program__list program__list--semester">3 SEMESTER</p>
          <ul class="program__sections">
            <li>
              <div class="program__sections-wrapper">
                <p class="program__block">— Grammar</p>
                <ul class="program__modules">
                  <li class="program__description">Modal verbs</li>
                  <li class="program__description">Infinitive</li>
                  <li class="program__description">Gerund</li>
                  <li class="program__description">Participle: 1, 2</li>
                </ul>
              </div>
            </li>
            <li>
              <div class="program__sections-wrapper">
                <p class="program__block">— Vocalbury</p>
                <ul class="program__modules">
                  <li class="program__description">Travel & Tourism</li>
                  <li class="program__description">Culture & Free Time</li>
                  <li class="program__description">Sport</li>
                </ul>
              </div>
            </li>
            <li>
              <div class="program__sections-wrapper">
                <p class="program__block">— Writing</p>
                <ul class="program__modules">
                  <li class="program__description">Informal Letter</li>
                </ul>
              </div>
            </li>
          </ul>
        </li>

        <li class="program__item">
          <div class="program__dot"></div>
          <p class="program__list program__list--semester">4 SEMESTER</p>
          <ul class="program__sections">
            <li>
              <div class="program__sections-wrapper">
                <p class="program__block">— Grammar</p>
                <ul class="program__modules">
                  <li class="program__description">Clauses: Conditional and Wishes</li>
                  <li class="program__description">Direct / Reported speech</li>
                  <li class="program__description">Preposition</li>
                  <li class="program__description">Conjunction</li>
                  <li class="program__description">Numeral</li>
                </ul>
              </div>
            </li>
            <li>
              <div class="program__sections-wrapper">
                <p class="program__block">— Vocalbury</p>
                <ul class="program__modules">
                  <li class="program__description">Healthy Living</li>
                  <li class="program__description">Nature & Environment</li>
                  <li class="program__description">Money</li>
                </ul>
              </div>
            </li>
            <li>
              <div class="program__sections-wrapper">
                <p class="program__block">— Writing</p>
                <ul class="program__modules">
                  <li class="program__description">Formal Letter</li>
                </ul>
              </div>
            </li>
          </ul>
        </li>

        <li class="program__item">
          <div class="program__dot"></div>
          <p class="program__list program__list--semester">5 SEMESTER</p>
          <ul class="program__sections">
            <li>
              <div class="program__sections-wrapper">
                <p class="program__block">—</p>
                <ul class="program__modules">
                  <li class="program__description">Revision</li>
                  <li class="program__description">Tests</li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>
