<section class="slideshow">

  <div class="slidershow__container container">
    <h2 class="slideshow__title">Feedback from graduates</h2>
    <div class="mySlides fade">
      <div class="wrapper">
        <img src=".././src/images/slidershow/slide1.png" alt="slideshow face" class="slideshow__img">
        <svg class="slideshow__svg">
          <use href=".././src/images/symbol-defs.svg#icon-vk"></use>
        </svg>
      </div>
      <div class="wrapper">
        <h3 class="slideshow__name">Tonya Kucherovskaya</h3>
        <h4 class="slideshow__school">Graduated from 2015, National University of Bioresources
          and natural history of Ukraine</h4>
        <p class="slideshow__comment">In a short time with Elena, I mastered grammar and replenished my completely empty
          vocabulary. From the first lesson I realized that I was on my plate. Elena and I became friends because she
          was
          really
          worried about my success. She became an authority for me, but I did not tremble in class, fearing to make the
          slightest mistake. Now I can brag that I'm student ...<a href="#"><span class="slideshow__comment--accent">
              Read
              more</span> </a></p>
      </div>
    </div>
  </div>
    <div class="mySlides fade">
      <div class="wrapper">
        <img src=".././src/images/slidershow/slide2.png" alt="slideshow face" class="slideshow__img">
        <svg class="slideshow__svg">
          <use href=".././src/images/symbol-defs.svg#icon-vk"></use>
        </svg>
      </div>
      <div class="wrapper">
        <h3 class="slideshow__name">Tonya Kucherovskaya</h3>
        <h4 class="slideshow__school">Graduated from 2015, National University of Bioresources
          and natural history of Ukraine</h4>
        <p class="slideshow__comment">In a short time with Elena, I mastered grammar and replenished my completely empty
          vocabulary. From the first lesson I realized that I was on my plate. Elena and I became friends because she
          was
          really
          worried about my success. She became an authority for me, but I did not tremble in class, fearing to make the
          slightest mistake. Now I can brag that I'm student ...<a href="#"><span class="slideshow__comment--accent">
              Read
              more</span> </a></p>
      </div>
    </div>
  </div>
    <div class="mySlides fade">
      <div class="wrapper">
        <img src=".././src/images/slidershow/slide3.png" alt="slideshow face" class="slideshow__img">
        <svg class="slideshow__svg">
          <use href=".././src/images/symbol-defs.svg#icon-vk"></use>
        </svg>
      </div>
      <div class="wrapper">
        <h3 class="slideshow__name">Tonya Kucherovskaya</h3>
        <h4 class="slideshow__school">Graduated from 2015, National University of Bioresources
          and natural history of Ukraine</h4>
        <p class="slideshow__comment">In a short time with Elena, I mastered grammar and replenished my completely empty
          vocabulary. From the first lesson I realized that I was on my plate. Elena and I became friends because she
          was
          really
          worried about my success. She became an authority for me, but I did not tremble in class, fearing to make the
          slightest mistake. Now I can brag that I'm student ...<a href="#"><span class="slideshow__comment--accent">
              Read
              more</span> </a></p>
      </div>
    </div>
  </div>
    <div class="mySlides fade">
      <div class="wrapper">
        <img src=".././src/images/slidershow/slide4.png" alt="slideshow face" class="slideshow__img">
        <svg class="slideshow__svg">
          <use href=".././src/images/symbol-defs.svg#icon-vk"></use>
        </svg>
      </div>
      <div class="wrapper">
        <h3 class="slideshow__name">Tonya Kucherovskaya</h3>
        <h4 class="slideshow__school">Graduated from 2015, National University of Bioresources
          and natural history of Ukraine</h4>
        <p class="slideshow__comment">In a short time with Elena, I mastered grammar and replenished my completely empty
          vocabulary. From the first lesson I realized that I was on my plate. Elena and I became friends because she
          was
          really
          worried about my success. She became an authority for me, but I did not tremble in class, fearing to make the
          slightest mistake. Now I can brag that I'm student ...<a href="#"><span class="slideshow__comment--accent">
              Read
              more</span> </a></p>
      </div>
    </div>
  </div>
    <div class="mySlides fade">
      <div class="wrapper">
        <img src=".././src/images/slidershow/slide5.png" alt="slideshow face" class="slideshow__img">
        <svg class="slideshow__svg">
          <use href=".././src/images/symbol-defs.svg#icon-vk"></use>
        </svg>
      </div>
      <div class="wrapper">
        <h3 class="slideshow__name">Tonya Kucherovskaya</h3>
        <h4 class="slideshow__school">Graduated from 2015, National University of Bioresources
          and natural history of Ukraine</h4>
        <p class="slideshow__comment">In a short time with Elena, I mastered grammar and replenished my completely empty
          vocabulary. From the first lesson I realized that I was on my plate. Elena and I became friends because she
          was
          really
          worried about my success. She became an authority for me, but I did not tremble in class, fearing to make the
          slightest mistake. Now I can brag that I'm student ...<a href="#"><span class="slideshow__comment--accent">
              Read
              more</span> </a></p>
      </div>
    </div>
  </div>
    <div class="mySlides fade ">
      <div class="wrapper">
        <img src=".././src/images/slidershow/slide6.png" alt="slideshow face" class="slideshow__img">
        <svg class="slideshow__svg">
          <use href=".././src/images/symbol-defs.svg#icon-vk"></use>
        </svg>
      </div>
      <div class="wrapper">
        <h3 class="slideshow__name">Tonya Kucherovskaya</h3>
        <h4 class="slideshow__school">Graduated from 2015, National University of Bioresources
          and natural history of Ukraine</h4>
        <p class="slideshow__comment">In a short time with Elena, I mastered grammar and replenished my completely empty
          vocabulary. From the first lesson I realized that I was on my plate. Elena and I became friends because she
          was
          really
          worried about my success. She became an authority for me, but I did not tremble in class, fearing to make the
          slightest mistake. Now I can brag that I'm student ...<a href="#"><span class="slideshow__comment--accent">
              Read
              more</span> </a></p>
      </div>
    </div>
  </div>
    <div class="mySlides fade ">
      <div class="wrapper">
        <img src=".././src/images/slidershow/slide7.png" alt="slideshow face" class="slideshow__img">
        <svg class="slideshow__svg">
          <use href=".././src/images/symbol-defs.svg#icon-vk"></use>
        </svg>
      </div>
      <div class="wrapper">
        <h3 class="slideshow__name">Tonya Kucherovskaya</h3>
        <h4 class="slideshow__school">Graduated from 2015, National University of Bioresources
          and natural history of Ukraine</h4>
        <p class="slideshow__comment">In a short time with Elena, I mastered grammar and replenished my completely empty
          vocabulary. From the first lesson I realized that I was on my plate. Elena and I became friends because she
          was
          really
          worried about my success. She became an authority for me, but I did not tremble in class, fearing to make the
          slightest mistake. Now I can brag that I'm student ...<a href="#"><span class="slideshow__comment--accent">
              Read
              more</span> </a></p>
      </div>
    </div>
  </div>
  <div class="slideshow__face">
    <svg class="slideshow__arrow left" onclick="plusSlides(-1)">
      <use href=".././src/images/symbol-defs.svg#icon-Arrow-left"></use>
    </svg>
    <img class="img-dot" src=".././src/images/slidershow/slide1.png" onclick="currentSlide(1)" alt="slideshow face">
    <img class="img-dot" src=".././src/images/slidershow/slide2.png" onclick="currentSlide(2)" alt="slideshow face">
    <img class="img-dot" src=".././src/images/slidershow/slide3.png" onclick="currentSlide(3)" alt="slideshow face">
    <img class="img-dot hidden" src=".././src/images/slidershow/slide4.png" onclick="currentSlide(4)"
      alt="slideshow face">
    <img class="img-dot hidden" src=".././src/images/slidershow/slide5.png" onclick="currentSlide(5)"
      alt="slideshow face">
    <img class="img-dot hidden" src=".././src/images/slidershow/slide6.png" onclick="currentSlide(6)"
      alt="slideshow face">
    <img class="img-dot hidden" src=".././src/images/slidershow/slide7.png" onclick="currentSlide(7)"
      alt="slideshow face">
    <svg class="slideshow__arrow right" onclick="plusSlides(1)">
      <use href=".././src/images/symbol-defs.svg#icon-Arrow-right"></use>
    </svg>
  </div>

</section>
