<section class="strengths">
    <h1 class="strengths__title">Why do people choose us</h1>
    <div class="strengths__container">
<div class="strengths__list">
    <h2 class="strengths__number">— 01</h2>
    <p class="strengths__paragraph">Training in small groups</p>
</div>
<div class="strengths__list">
    <h2 class="strengths__number">— 02</h2>
    <p class="strengths__paragraph">Rendered notes</p>
</div>
<div class="strengths__list">
    <h2 class="strengths__number">— 03</h2>
    <p class="strengths__paragraph">Each lesson has a goal and a specific result</p>
</div>
<div class="strengths__list">
    <h2 class="strengths__number">— 04</h2>
    <p class="strengths__paragraph">The real results of the teacher</p>
</div>
<div class="strengths__list">
    <h2 class="strengths__number">— 05</h2>
    <p class="strengths__paragraph">The course program meets the requirements of the MES of Ukraine</p>
</div>
<div class="strengths__list">
    <h2 class="strengths__number">— 06</h2>
    <p class="strengths__paragraph">Set of groups by level of knowledge</p>
</div>
</div>



</section>