.we-guarantee {
  display: flex;
  justify-content: center;
  flex-direction: column;
  @media screen and (min-width: 1280px) {
    margin: 0 153px;
  }
}

.guarantee {
  &__title {
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 130%;
    letter-spacing: 0.03em;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    @media screen and (min-width: 1280px) {
      font-weight: 800;
      font-size: 46px;
      line-height: 130%;
      letter-spacing: 0.03em;
    }
  }

  &__background {
    display: flex;
    justify-content: center;
    background: var(--guarantee--section);
    margin: 0 auto;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    @media screen and (max-width: 768px) {
      width: 100vw;
      transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    }
  }

  &__container {
    margin: 30px 20px;
  }

  &__list-item {
    color: var(--guarantee--text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    font-family: var(--main-font);
    padding-bottom: 23px;
    padding-left: 28px;
    position: relative;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;

    &--accent {
      color: var(--orange--color);
    }

    &:not(:last-child) {
      border-left: 1px dashed var(--guarantee--border);
    }

    &::before {
      position: absolute;
      content: '';
      background-image: url('.././images/flame.svg');
      background-size: cover;
      background-position: center;
      width: 14px;
      height: 20px;
      left: -7px;
      top: 0;
      @media screen and (min-width: 1279px) {
        width: 24px;
        height: 32px;
        left: -12px;
      }
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .guarantee__list-item {
    padding-left: 32px;
    font-size: 12px;
    line-height: 28px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
  }
  .guarantee__container {
    margin: 30px 86px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
  }
}
@media screen and (min-width: 1279px) {
  .guarantee__list-item {
    padding-left: 42px;
    font-size: 20px;
    line-height: 28px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
  }
  .guarantee__container {
    margin: 30px 125px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
  }
}
