.hero {
  background-image: url('../images/hero/background-image.png');
  background-repeat: no-repeat;
}

.hero .container {
  margin: 0 auto;
}

.hero__title {
  padding-top: 110px;
  padding-right: 20px;
  padding-bottom: 54px;
  padding-left: 20px;

  font-weight: 800;
  font-size: 19px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #111518;
  text-align: left;
}

.hero__undertitle {
  padding: 0 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 157%;
  letter-spacing: 0.08em;
  color: #b9b9b9;
}

.hero__description {
  padding: 0 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 157%;
  letter-spacing: 0.08em;
  color: #111518;
  margin-bottom: 30px;
}

.hero__description > span {
  color: #ff6b09;
}

.hero__image {
  width: calc(100vw - 112px);
  height: auto;
  margin: 0 auto 77px;
}

.hero__image .hero-photo {
  width: 100%;
}

.hero__list-container {
  position: relative;
  padding-right: 48px;
  padding-left: 121px;
}

.hero__list {
  font-weight: bold;
  font-size: 14px;
  line-height: 164.9%;
  letter-spacing: 0.08em;
  color: #111518;
  text-align: left;
  margin-bottom: 43.5px;
}

.list__item:nth-child(1) {
  margin-bottom: 26px;
  width: 146px;

  &::before {
    position: absolute;
    content: '';
    background-image: url('../../src/images/hero/student-ico-mobile.svg');
    background-size: cover;
    background-position: center;
    width: 59px;
    height: 60px;
    left: 52px;
    top: -8px;
  }
}

.list__item:nth-child(2) {
  margin-bottom: 21px;
  width: 120px;

  &::before {
    position: absolute;
    content: '';
    background-image: url('../../src/images/hero/learning-ico-mobile.svg');
    background-size: cover;
    background-position: center;
    width: 59px;
    height: 60px;
    left: 52px;
    top: 78px;
  }
}

.list__item:nth-child(3) {
  width: 100px;

  &::before {
    position: absolute;
    content: '';
    background-image: url('../../src/images/hero/dolar-mobile.svg');
    background-size: cover;
    background-position: center;
    width: 59px;
    height: 60px;
    left: 52px;
    top: 169px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero {
    background-image: url('../images/hero/background-image-tbl.png');
    background-repeat: no-repeat;
  }

  .hero__wrapper {
    display: flex;
  }

  .hero__title {
    padding-top: 159px;
    padding-right: 0px;
    padding-bottom: 95px;
    padding-left: 42px;
    font-size: 26px;
  }
  .hero__undertitle {
    padding: 0 42px;
  }

  .hero__description {
    padding: 0 42px;
  }

  .hero__image {
    padding-top: 173px;
  }

  .hero__list {
    display: inline;
  }
}
